<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MRS">
  <test name="TC_001_CreateRecord">
	  <parameter name="Browser" value="chrome"></parameter>
    <classes>
      <class name="com.automation.Frameworks.TC_001_CreateRecord"/>
    </classes>
  </test> 
</suite> 
